body{
	background-image: url(../Imagenes/bosque.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.windowMessage{
	width: 350px;
	height: 100px;
	position: absolute;
	left: 35%;
	z-index: 2;
	top: 35%;
	border: 1px solid black;
	text-align: center;
	background-color: white;
	padding: 15px;
	display: none;
	box-shadow: 0 0 10px #333;
	border-radius: 12px;
    animation-name: animatetop;
    animation-duration: 0.6s
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 210px; opacity: 1}
}

img{
	width: 100px;
	height: 120px;
}
button{
	width: 90px;
}
#container{
	width: 80%;
	margin: 0 auto;
}

#left{
	width: 25%;
	margin-right: 100px;
	float:left;
}

#preguntas{
	margin-top: 40px;
}

.preguntaForm{
	background-color: #282626;
	color: white;
	text-align: center;
	width: 180px;
}
.respuesta{
	background-color: #282626;
	color: white;
}

.combo{
	width: 180px;
}

.imagen:hover{
	box-shadow: 0 0 15px #333;
}

.back-face{
	transform: rotateY(180deg);
	background-image: url('../Imagenes/reverso.jpeg');
	background-size: cover;
	width: 100px;
	height: 120px;
}
.back-face-selected{
	background-image: url('../Imagenes/reverso.jpeg');
	background-size: cover;
	width: 100px;
	height: 120px;
	backface-visibility: hidden;
}
.flip-card .front-face, .flip-card .back-face, .flip-card .selected, .back-face-selected{
	transition: transform 500ms;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
}
.flip-card{
	width: 100px;
	height: 120px;
	margin: 10px;
	position: relative;
}
.flip-card.is-flipped, .selected.is-flipped{
	transform: rotateY(180deg);
	transition: transform 1s;
	transform-style: preserve-3d;
}

.selected{
	transform: rotateY(180deg);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    margin-left: 25%;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    height: auto;
    max-height: 120px;
	transition: max-height 2s ease-out;
	overflow: hidden;
	animation-name: animatetop;
    animation-duration: 3s;
	border-radius: 12px;
}


iframe{
	display: none;
}
.modal-content.collapsed{
	max-height: 600px;
}

#RankWindow{
	width: 100%;
	margin: 0 auto;
}

#formRank{
	display:none;
	text-align: center;
}
#otherRank{
	display:inline;
	width: 50%;
	margin: 0 auto;
}

#shownForm{
	display: none;
	width: 80%;
	margin: 0 auto;
}

#inputName{
	float: left;
	margin-left: 5%;
}

#countQuestions{
	float: right;
	margin-right: 10%;
}
#record{
	width: 30%;
	margin: 0 auto;
	text-align: center;
}
#tablaRecord{
	border-collapse: collapse;
	margin-left: 20px;
}
#tablaRecord td{
	border: 1px solid black;
	padding: 5px;
	width: 100px;
	text-align: center;
}
#true,#false{
	display: none;
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}

.light {
	margin-left: 15px;
	width: 30px;
	height: 30px;
    -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
    animation: blink normal 1s infinite ease-in-out;
    animation: blink 1s linear infinite;
}