#ventanaError{
	width: 350px;
	height: 100px;
	position: absolute;
	left: 35%;
	z-index: 2;
	top: 35%;
	border: 1px solid black;
	text-align: center;
	background-color: white;
	padding: 20px;
	display: none;
	box-shadow: 0 0 10px #333;
	border-radius: 12px;
}

img{
	width: 120px;
	height: 140px;
}

#container{
	width: 70%;
	margin: 0 auto;
}
#formulario{
	float: left;
	margin: 30px;
}
#tablaCartas{
	margin: 30px;
}
.combo{
	width: 180px;
}
#cartaAsignada{
	width: 6%;
	margin: 0 auto;
}

.imagen:hover{
	box-shadow: 0 0 15px #333;
}

.back-face{
	transform: rotateY(180deg);
	background-image: url('../Imagenes/reverso.jpeg');
	background-size: cover;
	width: 120px;
	height: 140px;
}
.flip-card .front-face, .flip-card .back-face{
	transition: transform 500ms;
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
}
.flip-card{

	width: 120px;
	height: 140px;
	margin: 10px;
	position: relative;
}
.flip-card.is-flipped{
	transform: rotateY(180deg);
	transition: transform 1s;
	transform-style: preserve-3d;
}